.block {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border-radius: 4px;
    padding: 24px;
    background-color: rgb(223, 223, 223);
    box-shadow: 2px 4px 10px rgba(8, 2, 55, 0.5);
}
.label {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(14, 65, 133);
}
.input {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px  rgb(123, 122, 118);;
    background-color: rgb(246, 244, 239);
    min-height: 30px;
}
.input::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: rgb(14, 65, 133);
}



