.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: solid 2px #36d7b7;
    border-radius: 50%;
}
.label {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(14, 65, 133);
    font-family: 'Moirai One';
}
.input {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px  rgb(14, 65, 133);;
    background-color: rgb(255, 255, 255);
    min-height: 30px;
    min-width: 240px;
    outline: none;
    &:hover {
        
        border: solid 1px  rgb(246, 111, 1); 
    
        }
}
.input::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: rgb(14, 65, 133);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    max-width: 160px;
    background-color: rgb(246, 111, 1);
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    &:hover {
        
    background-color: #36d7b7; 

    }
}


