.section {
    min-height: 100vh;
    background-image:  url('../../../images/bgHero2.jpg');
    background-size: cover;
    @media screen and (max-width: 1179.98px) {
        padding-bottom: 40px;
    }
    
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    
    @media screen and (min-width: 1180px) {
        max-width: 1180px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 40px;
        padding-top: 40px;
      }
}

.wrapper {
    margin-bottom: 20px;

}
.title {
    font-family: 'Moirai One';
    font-size: 32px;
    color: rgb(14, 65, 133);
}
.block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    padding-top: 80px;
    background-color: transparent;
    border: solid 2px #36d7b7;
    border-radius: 180px;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 200px;

    @media screen and (min-width: 601px) {
        padding: 30px;
        padding-top: 60px;
        min-width: 420px;
        min-height: 420px;
        border-radius: 260px;
        padding-bottom: 200px;
      }
  
}
.emptyBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: solid 2px #36d7b7;
    border-radius: 50%;

    @media screen and (min-width: 601px) {
        padding: 30px;
        width: 400px;
        height: 400px;
      }

    
}



