.section {
    min-height: 100vh;
    background-image:  url('../../../images/bgHero2.jpg');
    background-size: cover;
}
.container {
    max-width: 1220px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
}
.wrapper {
    margin-bottom: 20px;
}
.title {
    font-family: 'Moirai One';
    font-size: 32px;
    color: rgb(14, 65, 133);
}
.block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    min-height: 450px;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    padding-top: 70px;
    background-color: transparent;
    border: solid 2px #36d7b7;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    flex-grow: 1;
    overflow-y: auto;
}



