.label {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(14, 65, 133);
    font-family: 'Moirai One';
}
.input {
    background-image: url('../../../../images/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 20px;
    padding: 8px;
    padding-left: 40px;
    border-radius: 2px;
    border: solid 1px  rgb(14, 65, 133);;
    background-color: rgb(255, 255, 255);
    min-height: 30px;
    min-width: 240px;
    outline: none;
    &:hover {
        
        border: solid 1px  rgb(246, 111, 1); 
    
        }
}
.input::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: rgb(14, 65, 133);
}