.wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
}
.label {
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(14, 65, 133);
}
.input {
    padding: 8px;
    border-radius: 2px;
    border: solid 1px  rgb(14, 65, 133);;
    background-color: rgb(255, 255, 255);
    min-height: 30px;
    min-width: 240px;
    outline: none;
    &:hover {
        
        border: solid 1px  #36d7b7; 
    
        }
}
.input::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: rgb(14, 65, 133);
  }
  