.wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
}
.label {
    font-size: 18px;
    color: rgb(14, 65, 133);
}
.input {
    padding: 8px;
    border-radius: 2px;
    border: solid 1px  rgb(123, 122, 118);;
    background-color: rgb(246, 244, 239);
    min-height: 30px;
}
.input::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: rgb(14, 65, 133);
  }
  