.list {
    display: grid;
    gap: 10px;
    padding-left: 0;

}
.item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    @media screen and (min-width: 601px) {
        font-size: 16px;
        gap: 120px;
      }

}
.item:nth-child(even){
    background-color: #f2f2f2;
}
.item:nth-child(odd){
    background-color: #ffffff;
}
.item:hover,
.item:focus {
    color: rgb(246, 111, 1);
    cursor: pointer;
}
.item__btn {
    background-image: url('../../../../images/remove.svg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px #36d7b7;
    border-radius: 4px;

    &:hover {
        
        border-color:  rgb(246, 111, 1); 
    
        }
}
